* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navigation CSS */

#navBar {
  display: flex;
  margin: 0px;
  background-color: black;
  color: white;
  padding: 15px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navSection {
  display: flex;
  width: 50%;
  align-items: center;
margin-left: auto;
justify-content:right

}

#navSection p {
  cursor: pointer;
  text-decoration: underline;
  font-family: Inter, sans-serif;
}

#navSection :hover {
  text-decoration: none;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
}

#hero-banner {
  display: grid;
  height: 40vh;
  grid-template-columns: 100%;
  grid-template-areas: "featuredImage";
}


#featuredImage {
  grid-area: featuredImage;
  background: rgb(0,9,36);
  background: linear-gradient(90deg, rgba(0,9,36,1) 0%, rgba(126,68,68,1) 46%, rgba(59,84,13,1) 100%);
}


#headline {
background-color: rgba(255, 255, 255, 0.3);
color: black;
position: absolute;
top: 38%;
right: 1%;
padding: 5px;
}
