* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navigation CSS */

#header {
  display: flex;
  align-items: center;
  z-index: 9;
  margin: 0;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
.container {
justify-content: space-around;
justify-content: space-between;
}

.name {
  display: flex;
justify-content: flex-start;
background-color: rgba(255, 255, 255, 0.2);
padding: 5px 30px;
font-weight: 500;
}

.links {
  justify-content: flex-end;
}

nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  text-align: left;
}

nav ul li a {
  color: white;
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
width: 100%;
}

#hero-banner {
  display: grid;
  height: 40vh;
  grid-template-columns: 100%;
  grid-template-areas: "featuredImage";
}


#featuredImage {
  grid-area: featuredImage;
  background: rgb(0,9,36);
  background: linear-gradient(90deg, rgba(0,9,36,1) 0%, rgba(126,68,68,1) 46%, rgba(59,84,13,1) 100%);
}


#headline {
background-color: rgba(255, 255, 255, 0.2);
color: black;
position: absolute;
top: 42%;
right: 1%;
padding: 6px;
}

#headline :hover {
  color: white;
}

#about {
  display: grid;
  grid-template-columns: 40% 60%;
}