* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h6 {
font-weight: 100;
font-size: 10px;
}

.main {
  max-width: 900px;
  margin: 0 auto;
 }

/* <!-- Navigation section --> */

#header {
  display: flex;
  align-items: center;
  z-index: 9;
  margin: 0;
  background-color: black;
  color: white;
  padding: 1px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
/* .container {
justify-content: space-around;
justify-content: space-between;
} */

.fullName {
display: flex;
justify-content: flex-start;
background-color: rgba(255, 255, 255, 0.2);
padding: 4px 35px;
padding-right: 10px;
font-weight: 500;
/* border-radius: 30px; */
}

nav {
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  text-align: left;
}

nav ul li a {
  color: white;
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
width: 100%;
}

.navLinks {
  justify-content: flex-end;
}

/* <!-- Hero Banner section --> */

#hero-banner {
  display: grid;
  height: 40vh;
  grid-template-columns: 100%;
  grid-template-areas: "featuredImage";
}

#featuredImage {
  grid-area: featuredImage;
  background: rgb(0,9,36);
  background: linear-gradient(90deg, rgba(0,9,36,1) 0%, rgba(126,68,68,1) 46%, rgba(59,84,13,1) 100%);
}


.section-pic {
  width: 268px;
  height: 275px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 13px;
  margin-left: 25px;
padding: 10px;
}

#subtitle {
background-color: rgba(255, 255, 255, 0.2);
color: black;
position: absolute;
top: 44%;
right: 2%;
padding: 5px 22px;
border-radius: 30px; 
}

#subtitle :hover {
  color: white;
}

/* <!-- About Me section --> */

#aboutme-container {
  display: flex;
  justify-content: space-between;
}

.aboutmeLeft {
  border-right: 3px solid black;
  padding-right: 20px;
  }

.me {
  text-align: right;
  font-size: 30px;
  color: #3C530D;
} 

.aboutmeParagraph {
  text-align: left;
  padding-bottom: 20px;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width: 80%;
}

/* <!-- portfolio work container--> */

#work {
  display: flex;
  justify-content: space-between;
}

.workLeft {
border-right: 3px solid black;
padding-right: 30px;
}

.workTitle {
  text-align: right;
  font-size: 30px;
  color: #3C530D;
}

/* portfolio image container */

.imagesSection {
  display: grid;
  gap: 1.4rem;
  margin-inline: auto;
  width: min(95%, 70rem);
padding-left: 65px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 300px 300px;
  grid-template-areas:
  "music music"
  "fashion food"
  "beauty travel" 
  ;
}

#music {
  grid-area: music;
  background-image: url("https://online.berklee.edu/takenote/wp-content/uploads/2023/07/AI_music_article_image_2023.jpg");
} 

#fashion {
  grid-area: fashion;
  background-image: url("https://media.voguebusiness.com/photos/64c90bafb340082dbcb8e4d7/16:9/w_2000,h_1125,c_limit/HYPERREALISM-voguebus-story.jpg");
}

#food {
  grid-area: food;
  background-image: url("https://balibuddies.com/wp-content/uploads/2023/01/GrabFood-by-Grab-on-the-phone.jpg");
}

#beauty {
  grid-area: beauty;
  background-image: url("https://hellobeautiful.com/wp-content/uploads/sites/50/2023/07/16902421701635.jpg");
}

#travel {
  grid-area: travel;
  background-image: url("https://techliance.com/images/group-travel-videos.jpg");
}

.imageSectionArea {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 5px;
cursor: pointer;
display: grid;
align-content: end;
border: 3px solid black;
}

.heading {
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  color: white;
  font-size: 18px;
  position: relative;
  bottom: 20px;
  width: 45%;
}

/* <!-- contact section --> */

#contact {
  display: flex;
  justify-content: space-between;
}

.contactMe {
  border-right: 3px solid black;
  color: #3C530D;
  text-align: right;
  padding-right: 16px;
  }

.info {
  display: flex;
  list-style: none;
 justify-content: space-around;
  width: 50vw;
  align-items: center;
  margin-inline: auto;
}

.info1, .info2, .info3, .info4, .info5 {
border-bottom: 3px solid;
}


@media only screen and (max-width: 1440px) {

  #subtitle {
    position: absolute;
    top: 43%;
    }

    .section-pic {
      width: 320px;
      height: 325px;
      margin-top: 70px;
      margin-left: 42px;
    }
  }

@media only screen and (max-width: 1024px) {
  .main {
    max-width: 810px;
  }

  .section-pic {
    width: 268px;
    height: 275px;
    margin-top: 40px;
    margin-left: 40px;
}

.aboutmeParagraph {
  padding-bottom: 20px;
  width: 78%;
}

.info {
justify-content: space-around;
width: 75vw;
} 
}


@media only screen and (max-width: 768px) {

  #subtitle {
    top: 45%;
    }
 
  .main {
    max-width: 600px;
  } 

  .section-pic { 
    width: 220px;
    height: 225px;
    margin-top: 18px;
    margin-left: 30px;
}

.imagesSection {
padding-left: 26px;
}

.info { 
display: flex;
flex-wrap: wrap;
font-size: 14px;
padding-left: 26px;
}
}
